body {
    background: blue;
}

#header {
    padding: 25px;
    background: pink;
}

#content {
    padding: 20px;
    background: #fff;
}
#footer {
    padding: 20px;
    background: greenyellow;
}
